<?xml version="1.0" encoding="utf-8"?>

<launch>
  <node name="Localization" pkg="planner_and_control" type="localization_simul.py" respawn="true"/>
  sleep 0.1
  <node name="Ego" pkg="planner_and_control" type="ego.py" respawn="true"/>
  sleep 0.1
  <node name="Sensor_hub" pkg="planner_and_control" type="sensor_hub.py" respawn="true"/>
  sleep 0.1
  <node name="Mission_Planner" pkg="planner_and_control" type="mission_planner.py" respawn ="true"/>
  sleep 0.1
  <node name="Behavior_Planner" pkg="planner_and_control" type="behavior_planner.py" respawn="true"/>  
  sleep 0.1
  <node name="Motion_Planner" pkg="planner_and_control" type="motion_planner.py" args="ex" output="screen" respawn = "true"/>
  sleep 0.1
  <node name="Controller" pkg="planner_and_control" type="controller.py" respawn="true"/>
  sleep 0.1
  <node name="Serial_IO" pkg="planner_and_control" type="serial_io.py" respawn="true"/>
</launch>
